[submodule "luci-theme-opentomato"]
	path = luci-theme-opentomato
	url = https://github.com/solidus1983/luci-theme-opentomato
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon
[submodule "shadowsocks-libev"]
	path = shadowsocks-libev
	url = https://github.com/shadowsocks/openwrt-shadowsocks
[submodule "v2ray"]
	path = v2ray
	url = https://github.com/kuoruan/openwrt-v2ray
[submodule "luci-app-openclash"]
	path = luci-app-openclash
	url = https://github.com/vernesong/OpenClash
[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/rufengsuixing/luci-app-adguardhome
[submodule "luci-app-v2ray"]
	path = luci-app-v2ray
	url = https://github.com/kuoruan/luci-app-v2ray
	branch = luci2
